*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/images/doctorpatient.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
   padding-bottom: 50px;
  height: 100vh;
  font-family:'poppins',sans-serif;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
 font-family: 'Poppins', sans-serif;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
.search-form{
  margin-top: 15px;
  float: right;
  margin-right: 100px;
}
input[type=text]{
  padding: 7px;
  border:none;
  font-size: 16px;
  font-family: sans-serif;
}
button{
  float: right;
  background:orange;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  position: relative;
  padding: 7px;
  font-family: sans-serif;
  border:none;
  font-size: 16px;

}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.col-2{
  margin-top: 60px;
  margin-right: : 20px;
}
.col-2 img{
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 50px;
}
.tittle{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%); 
}
.tittle{
  color: #fff;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}
.button{
  position: absolute;
  margin-top: 50px;
  top: 60%;
  left:50%;
  transform:translate(-50%,-50%);
}
.bntn{
  border: 1px solid #fff;
  font-family: 'Poppins', sans-serif;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
  margin: 0rem 1.5rem 1.5rem 0rem;
}
.bntn:hover{
  background-color: #fff;
  color: #000;
}
.footer{
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #0082e6;
  color: white;
  text-align: center;
  height: 45px;
  font-family: 'Poppins', sans-serif;
}

